
body {
    font-family: Courier, serif;
    background-color: yellow;
}

.home_header-text {
    font-size: 50px;
    color: #0067ac;
    font-weight: 500;
    text-align: center;
    background-color: lightblue;
    border-radius: 25%;
    padding: 12px;
}

.home_list-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1.5rem;
    border: solid black 5px;
    align-items:center;
    justify-content: space-evenly;
}

.home_list-container li {
    font-size: 24px;
    background-color: red;
    padding: 5px 10px;
    border: 5px blue solid;
    list-style: none;
}

/*
.home_list-item:nth-child(1) {
    align-self: center;
} 
*/

.home_list-container a {
    color: white;
}


@media (max-width: 500px) {
    .home_list-container {
        flex-direction: column;
    }
}
.header-link {
    display: flex;
    width: 100px;
    margin: auto;
    background-color: blue;
    flex: auto;
    text-align: center;
    padding-left: 45px;
    font-size: 24px;
}

.about_header-desc {
    color: white;
    background-color: #0067ac;
    margin: auto;
    width: 200px;
    height: 100px; 
    margin-bottom: 20px;
    border-radius: 5%;
    padding: 5px 15px 25px 15px;
}
.recipe-desc {
    display: flex;
    background-color: #0067ac;
    width: 70%;
    margin: auto;
}

.recipe-image {
    display: flex;
    width: 500px;
    margin: auto;
    justify-content: center;
}



/*

.parent-div {
    display: flex;
    margin: 10px auto;
    width: 800px;
    height: 300px;
    background-color: aqua;
    border: black solid 9px;
}

.parent-div .child-div1 {
    flex: 1;
    background-color: orange;
    width: 250px;
} 

.parent-div .child-div2 {
    background-color: white;
    flex: auto;
    width: 300px;
}

.parent-div .child-div3 {
    background-color: red;
    width: 250px;
    flex: 1;
}

*/